In [5]:
import pandas as pd

In [6]:
# File to Load (Remember to change the path if needed.)
NYS_COVID19_DailyHospitalizationSummary_data = "New_York_Forward_COVID-19_Daily_Hospitalization_Summary_by_Region.csv"

NYS_COVID19_DailyHospitalizationSummary_data

'New_York_Forward_COVID-19_Daily_Hospitalization_Summary_by_Region.csv'

In [7]:
# Read CSV into a Pandas DataFrame
NYS_covid19_DailyHospitalizationSummary_data_df = pd.read_csv(NYS_COVID19_DailyHospitalizationSummary_data)

NYS_covid19_DailyHospitalizationSummary_data_df

,As of Date,Region,Total Patients Hospitalized,Total Patients in ICU
0,03/26/2020,CAPITAL REGION,40,13
1,03/26/2020,CENTRAL NEW YORK,20,4
2,03/26/2020,FINGER LAKES,39,23
3,03/26/2020,LONG ISLAND,1082,303
4,03/26/2020,MID-HUDSON,493,126
...,...,...,...,...
5755,10/22/2021,MOHAWK VALLEY,107,22
5756,10/22/2021,NEW YORK CITY,485,131
5757,10/22/2021,NORTH COUNTRY,95,21
5758,10/22/2021,SOUTHERN TIER,172,28
5759,10/22/2021,WESTERN NEW YORK,201,45

In [8]:
NYC_covid19_DailyHospitalization_data_df = NYS_covid19_DailyHospitalizationSummary_data_df[NYS_covid19_DailyHospitalizationSummary_data_df["Region"].isin(['NEW YORK CITY'])]

NYC_covid19_DailyHospitalization_data_df.head(15)

,As of Date,Region,Total Patients Hospitalized,Total Patients in ICU
6,03/26/2020,NEW YORK CITY,4733,1084
16,03/27/2020,NEW YORK CITY,5256,1175
26,03/28/2020,NEW YORK CITY,6002,1337
36,03/29/2020,NEW YORK CITY,6631,1520
46,03/30/2020,NEW YORK CITY,7630,1724
56,03/31/2020,NEW YORK CITY,8403,1888
66,04/01/2020,NEW YORK CITY,9091,2124
76,04/02/2020,NEW YORK CITY,9681,2248
86,04/03/2020,NEW YORK CITY,10370,2477
96,04/04/2020,NEW YORK CITY,10726,2562
106,04/05/2020,NEW YORK CITY,10843,2613
116,04/06/2020,NEW YORK CITY,11301,2660
126,04/07/2020,NEW YORK CITY,11741,2886
136,04/08/2020,NEW YORK CITY,11836,2901
146,04/09/2020,NEW YORK CITY,11962,2899

In [9]:
NYC_covid19_DailyHospitalization_data_df.to_csv('NYC_COVID19_DailyHospitalizationTable',index=False)