In [20]:
import pandas as pd
import matplotlib.pyplot as plt

In [15]:
# Create a DataFrame of the Vaccine Data
df = pd.read_csv('./Resources/New_York_State_Statewide_COVID-19_Vaccination_Data_by_County.csv')
print(df)

                 Region       County  First Dose  Series Complete Report as of
0        Capital Region       Albany          69                0   2020-12-14
1      Western New York     Allegany           0                0   2020-12-14
2         New York City        Bronx           2                0   2020-12-14
3         Southern Tier       Broome           0                0   2020-12-14
4      Western New York  Cattaraugus           0                0   2020-12-14
...                 ...          ...         ...              ...          ...
19401    Capital Region   Washington       36985            35067   2021-10-22
19402      Finger Lakes        Wayne       56917            53418   2021-10-22
19403        Mid-Hudson  Westchester      746052           671155   2021-10-22
19404      Finger Lakes      Wyoming       20610            19245   2021-10-22
19405      Finger Lakes        Yates       12852            11880   2021-10-22

[19406 rows x 5 columns]

In [16]:
# Check the datatypes of your columns. 
df = pd.DataFrame(df)
df.dtypes

Region             object
County             object
First Dose          int64
Series Complete     int64
Report as of       object
dtype: object

In [17]:
df.County = df.County.astype(str)

In [18]:
print(df)

                 Region       County  First Dose  Series Complete Report as of
0        Capital Region       Albany          69                0   2020-12-14
1      Western New York     Allegany           0                0   2020-12-14
2         New York City        Bronx           2                0   2020-12-14
3         Southern Tier       Broome           0                0   2020-12-14
4      Western New York  Cattaraugus           0                0   2020-12-14
...                 ...          ...         ...              ...          ...
19401    Capital Region   Washington       36985            35067   2021-10-22
19402      Finger Lakes        Wayne       56917            53418   2021-10-22
19403        Mid-Hudson  Westchester      746052           671155   2021-10-22
19404      Finger Lakes      Wyoming       20610            19245   2021-10-22
19405      Finger Lakes        Yates       12852            11880   2021-10-22

[19406 rows x 5 columns]

In [19]:
print(df.dtypes)

Region             object
County             object
First Dose          int64
Series Complete     int64
Report as of       object
dtype: object

In [31]:
by_county = df.groupby('Region').count()
by_county

                  County  First Dose  Series Complete  Report as of
Region
Capital Region      2504        2504             2504          2504
Central New York    1565        1565             1565          1565
Finger Lakes        2817        2817             2817          2817
Long Island          626         626              626           626
Mid-Hudson          2191        2191             2191          2191
Mohawk Valley       1878        1878             1878          1878
New York City       1565        1565             1565          1565
North Country       2191        2191             2191          2191
Southern Tier       2504        2504             2504          2504
Western New York    1565        1565             1565          1565

In [40]:
by_county = df.groupby('County').sum()
by_county

             First Dose  Series Complete
County
Albany         43751298         37265689
Allegany        3879681          3351617
Bronx         148783638        122665567
Broome         24118503         20844802
Cattaraugus     7336923          6215477
...                 ...              ...
Washington      7032910          6141809
Wayne          10822831          9388892
Westchester   138739039        116263341
Wyoming         4023091          3433066
Yates           2618837          2232684

[62 rows x 2 columns]

In [33]:
by_county = df.groupby('Region').count()
by_county

                  First Dose  Series Complete
Region
Capital Region     149866358        128163563
Central New York   101210424         86992936
Finger Lakes       151942066        131283439
Long Island        396248152        331853427
Mid-Hudson         301040888        251264656
Mohawk Valley       55328332         47342471
New York City     1055153362        876167584
North Country       50506072         42784628
Southern Tier       73480619         63257671
Western New York   169653951        144111152