In [1]:
import pandas as pd

In [2]:
# File to Load (Remember to change the path if needed.)
NYS_COVID19_fatalities_data = "New_York_State_Statewide_COVID19_Fatalities_by_County.csv"

In [4]:
# Read CSV into a Pandas DataFrame
NYS_covid19_fatalities_data_df = pd.read_csv(NYS_COVID19_fatalities_data)

NYS_covid19_fatalities_data_df

,Report Date,County,Place of Fatality,Deaths by County of Residence
0,01/01/2021,Albany,305,208
1,01/01/2021,Allegany,54,73
2,01/01/2021,Bronx,3241,3548
3,01/01/2021,Broome,228,208
4,01/01/2021,Cattaraugus,40,44
...,...,...,...,...
36667,12/31/2020,Washington,11,16
36668,12/31/2020,Wayne,21,39
36669,12/31/2020,Westchester,1820,1675
36670,12/31/2020,Wyoming,17,23
36671,12/31/2020,Yates,7,11

In [6]:
NYC_covid19_fatalities_data_df = NYS_covid19_fatalities_data_df[NYS_covid19_fatalities_data_df["County"].isin(['Bronx', 'Manhattan', 'Kings', 'Queens', 'Richmond'])]

NYC_covid19_fatalities_data_df.head(15)

    Report Date     County  Place of Fatality  Deaths by County of Residence
2    01/01/2021      Bronx               3241                           3548
23   01/01/2021      Kings               4888                           5438
27   01/01/2021  Manhattan               3650                           2260
41   01/01/2021     Queens               4341                           5397
43   01/01/2021   Richmond                895                            896
66   01/02/2021      Bronx               3248                           3556
87   01/02/2021      Kings               4900                           5451
91   01/02/2021  Manhattan               3653                           2262
105  01/02/2021     Queens               4345                           5400
107  01/02/2021   Richmond                894                            895
130  01/03/2021      Bronx               3258                           3567
151  01/03/2021      Kings               4914                           5467
155  01/03/2021  Manhattan               3662                           2266
169  01/03/2021     Queens               4354                           5409
171  01/03/2021   Richmond                899                            900

In [7]:
NYC_covid19_fatalities_data_df.to_csv('NYC_COVID19_FatalitiesTable',index=False)