In [30]:
import pandas as pd
import os

In [31]:
# File to Load (Remember to change the path if needed.)
NYS_COVID19_Testing_data = "New_York_State_Statewide_COVID-19_Testing.csv"

In [32]:
# Read CSV into a Pandas DataFrame
NYS_covid19_testing_data_df = pd.read_csv(NYS_COVID19_Testing_data)

NYS_covid19_testing_data_df

,Test Date,County,New Positives,Cumulative Number of Positives,Total Number of Tests Performed,Cumulative Number of Tests Performed
0,03/01/2020,Albany,0,0,0,0
1,03/02/2020,Albany,0,0,0,0
2,03/03/2020,Albany,0,0,0,0
3,03/04/2020,Albany,0,0,0,0
4,03/05/2020,Albany,0,0,3,3
...,...,...,...,...,...,...
37195,10/17/2021,Yates,17,1605,125,56826
37196,10/18/2021,Yates,5,1610,53,56879
37197,10/19/2021,Yates,21,1631,168,57047
37198,10/20/2021,Yates,16,1647,202,57249
37199,10/21/2021,Yates,10,1657,169,57418

In [33]:
NYC_covid19_testing_data_df = NYS_covid19_testing_data_df[NYS_covid19_testing_data_df["County"].isin(['Brooklyn', 'New York', 'Kings', 'Queens', 'Richmond'])]

NYC_covid19_testing_data_df.head(2400)

,Test Date,County,New Positives,Cumulative Number of Positives,Total Number of Tests Performed,Cumulative Number of Tests Performed
13800,03/01/2020,Kings,0,0,0,0
13801,03/02/2020,Kings,0,0,0,0
13802,03/03/2020,Kings,0,0,2,2
13803,03/04/2020,Kings,1,1,4,6
13804,03/05/2020,Kings,0,1,7,13
...,...,...,...,...,...,...
25795,10/17/2021,Richmond,63,87712,4316,2232795
25796,10/18/2021,Richmond,71,87783,3657,2236452
25797,10/19/2021,Richmond,108,87891,5838,2242290
25798,10/20/2021,Richmond,92,87983,6419,2248709
25799,10/21/2021,Richmond,65,88048,6258,2254967

In [36]:
NYC_covid19_testing_data_df.to_csv('NYC_COVID19_TestingTable',index=False)